/** ============================================== HEADER */

.button-mobile {
    display: none;
}
/* ========================== Header ========================== */
@media screen and (max-width: 1157px){
    .contact-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--color-slate);
    transition: color var(--typical-transition);
}
.header-link {
    margin-right: 120px;
}
.list-header:first-child a {
    margin-bottom: 12px;
}
}

.header-nav {
    align-items: center;
    display: flex;
}

.header-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    padding-top: 25px;
    padding-bottom: 25px;
    transition: color var(--typical-transition);
}
.current {
    color: var(--color-ocean);
}
.address-link{
    display: flex;
    align-items: center;
}


.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-ocean);
}
.current::after {
    color: var(--color-ocean);
}
/** ==============================================Media hero */

@media screen and (max-width: 1157px) {
    .container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

/** ============================================Section Hero */
.hero {
    background-image: var(--hero-gradient), url(../images/tablet-bg.jpg);
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx){
    .hero {
        background-image: var(--hero-gradient), url(../images/tablet-bg@2x.jpg)
    }
}

.hero-title {
    width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
}

/** text SECTION */
@media screen and (max-width: 1157px) {
    .features-icon {
        display: none;
    }
    .text-container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        }
    .main-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}
    .main-name {
    letter-spacing: 0.02em;
    color: var(--color-grey);
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
    margin-bottom: 8px;
    text-align: left;
}
.list-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* li */
.main-item {
    flex-basis: calc((100% - 24px)/2);
}
/** ============================================Team Section */
@media screen and (max-width: 1157px){
    .team-container{
        width:582px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
}

/** ==============================================Customers Section*/
@media screen and (max-width: 1157px){
    .customers-container{
    padding: 96px 15px;
    max-width: 582px;
    }
    }
.company-item {
    max-width: 168px;
    flex-basis: calc((100% - 24px) / 3);
}

.company-link{
    max-width: 168px;
}
.section-company{
    display: block;
}
.company-list {
    gap: 72px 24px;
}
/** ========================================================= footer */
@media screen and (max-width: 1157px){
.footer-container {
    flex-wrap: wrap;
    gap: 72px 24px;
    width: 582px;
    padding-right: 15px;
    padding-left: 15px;
    }
    .footer-form {
        max-width: 453px;
        display: flex;
        flex-wrap: wrap;
        }
}
.footer-container{
    display: flex;
    flex-direction: row;
}

.label-input {
    width: 264px;
    height: 40px;
}
.footer-info{
    max-width: 264px;
}
.social-media-container {
    max-width: 208px;
    display: flex;
    flex-direction: column;
}

.email-input {
    display: flex;
    align-items: center;
    gap: 24px;
}
.label-input {
    width: 264px;
    height: 40px;
}
.button-subsctibe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    min-height: 40px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    gap: 16px;
}
/* ===================== Modal window html ====================== */
.modal-window{
    min-width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
}
